%%-*- mode: erlang -*-

{erl_opts, [
    warn_missing_spec
]}.

{plugins, [
    {rebar_raw_resource,
        {git, "git://github.com/basho/rebar_raw_resource.git",
        {branch, "master"}}}
]}.

{deps, [
    {amqp_client, {raw, {git, "https://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}}},
    {herd, {git, "https://github.com/wgnet/herd", {tag, "1.3.3"}}}
]}.
